<header class="my-4">
	<img src="https://fontmeme.com/permalink/201119/174e93a13c86923a9400b72bdd4dbcb8.png" alt="Tag" border="0"><br><br>
	<span id="message" class="my-4"><em>Show no Sphere!</em></span>
</header>