body{
	text-align: center;
}

#dialog-overlay {
	background: #000;
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.75;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99998;
}

.dialog-popup {
	display: none;
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 99999; 

	background: none repeat scroll 0 0 #CCCCCC;
   border: 2px solid #222222;
   border-radius: 3px 3px 3px 3px;
   font-family: Verdana,Geneva,sans-serif;
   padding: 10px;
}

.dialog-popup .close-button {
	float: right;
	margin: -26px -26px 0 0;
}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
}