html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #292b2c;
}

canvas{
    margin: auto;
    /*
    width: 1280px;
    height: 760px;
    */
    background-color: #292b2c;
}

#timer{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 10px;
    font-size: 30px;
}

#score{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 100px;
    font-size: 30px;
}

#gameover {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: blue;
    border: 5px black solid;
    z-index: 2;
    text-align: center;
    font-size: 30px;
    visibility: hidden;
}

#scoreboard {
    width: 20px;
    height: 20px;
}