html{
	min-height: 100%;
	overflow: hidden;
}

body{
	min-height: 100vh;
	text-align: center;
	background-color: #394046;
	color: #FFFFFF;
}

.btn{
	border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.1);
}

.loungeBtn:hover{
	background-color: #343a40!important;
	transition: all .3s linear;
}

/* CHAT */
.message-list {
	list-style-type: none;
	padding: 0;
}

#chatPanel{
	width: 100%;
	height: 100%;
}

#loungePanel{
	width: 85%;
	border-radius: 10px;
}

#lounge{
	width: 50%;
	min-height: 375px;
	background: whitesmoke;
	border-radius: 10px;
	margin: 0 auto;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.rounded{
	border-radius: 10px!important;
}

input{
	outline: none;
}

.panel{
	height: 100%;
	overflow: hidden;
}

#profilePanel{
	display: none;
}

#joinPanel{
	display: none;
}

#createPanel{
	display: none;
}

#chatPanel{
	min-height: 70%;
}

#chatPanelContainer{
	min-width: 100%;
	min-height: 100%;
}


#chatContainer{
	min-height: 100%;
	min-width: 70%;
}

#playerList{
	list-style-type: none;
}

#playerListContainer{
	min-height: 100%;
	min-width: 22%;
}

#lobbyForm{
	height: 100%;
}

#lobbyList{
	list-style-type: none;
	height: 100%;
	margin: 0 auto;
}

.list-item{
	list-style-type: none;
	width: 100%;
	margin: 3% 0;
}

.lobby-link{
	padding: 1% 10%;
	background-color: #f7f7f7;
	color: black;
	font-weight: 700;
	text-decoration: none;
	transition: background-color .5s linear;
}

.lobby-link:hover{
	background-color: #5bc0de;
	color: white;
	text-decoration: none;
}

#messageList{
	letter-spacing: 1px;
	margin: 1% 0;
	color: lightyellow;
	display: block;
}

#input-username{
	margin: 1% 0;
	padding: .5%;
	font-size: large;
	border-radius: 10px;
	border: none;
	outline: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3); 
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	line-height: 2;
	color: lightgray;
}

.dialog-link{
	text-decoration: none;
	color: white;
}

#topLinks{
	text-align: right;
}

#dialog-overlay {
	background: transparent;
	opacity: 1;
	display: none;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: fixed;
	z-index: 99998;
}

.dialog-popup {
	height: 20%;
	width: 25%;
	background-color: #394046;
	display: none;
	z-index: 99999; 
   	border-radius: 10px;
   	font-family: Verdana,Geneva,sans-serif;
}

.scroll{
	overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 1em;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #5bc0de;
  outline: none;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5);
}