html{
	min-height: 100%;
	overflow: hidden;
}

body{
	min-height: 100vh;
	text-align: center;
	background-color: #222;
	color: #FFFFFF;
}

main{
	margin-top: 10%;
}

#message{
	letter-spacing: 1px;
	margin: 1% 0;
	color: lightyellow;
	display: block;
}

#input-username{
	margin: 1% 0;
	padding: .5%;
	font-size: large;
	border-radius: 5px;
	border: none;
	outline: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3); 
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
}

.main-button{
	margin:  1%;
	padding: .5%;
	font-size: large;
	border-radius: 5px;
	background-color: steelblue;
	color: white;
	border: none;
	outline: none;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3); 
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
}

button:hover{
	background-color: lightsteelblue;
}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	line-height: 2;
	color: lightgray;
}

.dialog-link{
	text-decoration: none;
	color: white;
}

#topLinks{
	text-align: right;
}

#dialog-overlay {
	background: #000;
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.75;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99998;
}

.dialog-popup {
	display: none;
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 99999; 
	background: none repeat scroll 0 0 #CCCCCC;
   	border: 2px solid #222222;
   	border-radius: 3px 3px 3px 3px;
   	font-family: Verdana,Geneva,sans-serif;
   	padding: 10px;
}

.dialog-popup .close-button {
	float: right;
	margin: -26px -26px 0 0;
}