<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Tag</title>

      	<script src="/socket.io/socket.io.js"></script>
		<link href="css/game-styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<canvas id="myCanvas" resize></canvas>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js"></script>
		<script src="../js/game.js" type="text/paperscript" canvas="myCanvas"></script>
	</body>
</html>