<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tag</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" 
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
		 integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
		 crossorigin="anonymous"> 
	 	<link rel="stylesheet" href="../css/styles.css" type="text/css">
	 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
	 	<script src = "/scripts/faker/dist/faker.js"></script>
	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script> 
		<script>

			var userId = "<%= userId %>";
			var userName = "<%= name %>";
			var displayName = "<%= alias %>";
			var skinId = parseInt("<%= skinID %>");
			var gender = "<%= gender %>";
			var locationCode = "<%= locationCode %>";
			var avatarUrl = "<%= avatarUrl %>";
		</script>
		<script src = "/scripts/@dicebear/avatars/dist/avatars.js"></script> 
		<script src = "/scripts/faker/dist/faker.js"></script> 
		<script src="../js/lounge.js" type="text/javascript"></script>
	</head>
	<body>
		<%- include('../partials/header.ejs') %>
			<main>
				<div id="lounge" class="d-flex flex-row border-thick border-g text-white p-3 justify-content-between">
					<div id="lounge-sidebar" class="w-auto d-flex flex-column justify-content-around">
						<a href="#" id="profileBtn" class="btn btn-info loungeBtn">Profile <i class="fas fa-user pl-1"></i></a>
						<a href="#" id="createBtn" class="btn btn-info loungeBtn">Create <i class="fas fa-plus pl-1"></i></a>
						<a href="#" id="joinBtn" class="btn btn-info loungeBtn">Join<i class="fas fa-user-friends pl-3"></i></a>
						<a href="#" id="chatBtn" class="btn btn-info loungeBtn">Chat<i class="fas fa-comment-dots pl-3"></i></a>
						<a href="/" id="quitBtn" class="btn btn-info loungeBtn">Quit<i class="fas fa-sign-out-alt pl-3"></i></a>
					</div>
					<div id="loungePanel">
						<!-- Chat Panel -->
						<div id="chatPanel" class="panel">
							<div id="chatPanelContainer" class="d-flex flex-row justify-content-around">
								<div id="chatContainer" class="d-flex flex-column justify-content-between">
									<div id="message-box" class="rounded flex-fill">
										<h4 class="py-1 text-center"><strong>Lounge</strong></h4>
										<ul id="messageList" class="message-list scroll h-75"></ul>
										<span id="typingNotice" class="rounded my-1"></span><br>
									</div>
									<div class="d-flex flex-row my-2">
										<input type="text" class="form-control text-white m-0 rounded" id="messageInput" placeholder="Send a message...">
										<button id="messageSend" type="submit" class="btn btn-info ml-2 loungeBtn"><i class="fas fa-paper-plane"></i></button>
									</div>
								</div>
								<div id="playerListContainer" class="d-flex flex-column rounded">
									<h5 id="playerListHeading" class="py-1 text-center"><strong>Users (0)</strong></h5>
									<ul id="playerList" class="text-center scroll m-0 p-1 flex-fill"></ul>
								</div>
							</div>
						</div>
						<!-- Profile Panel -->
						<div id="profilePanel" class="mx-3 panel rounded">
							<form method="get" action="/" id="profileForm" class="scroll">
								<h4 class="py-3"><strong>Profile</strong></h4><br>
								<h5>Display Name</h5>
								<div class="d-flex align-items-center justify-content-center my-2">
										<input type="text" id="usernameInput" name="username" class="rounded mx-2 text-center" value='<%= alias%>'>
										<button id="usernameBtn" type="button" class="btn btn-info btn-sm"><i class="fas fa-random"></i></button>
										</input>
								</div><br><br>
								<div class="d-flex justify-content-around align-items-start">
									<div class="container">
										<h5>Skin</h5>
										<i id="skinSelect" class="fas fa-circle fa-5x"></i><br>
										<button id="leftArrow" type="button" class="btn btn-info btn-sm mt-3 mr-4"><i class="fas fa-chevron-left fa-sm arrow"></i></button>
										<button id="rightArrow" type="button" class="btn btn-info btn-sm mt-3"><i class="fas fa-chevron-right fa-sm arrow"></i></button>	
									</div>
									<div class="container">
										<h5>Avatar</h5>
										<img id=avatar src="" width="75" height="75" alt="avatar"></img><br>
										<button id="avatarBtn" type="button" class="btn btn-info btn-sm mt-3"><i class="fas fa-random"></i></button>
									</div>	
								</div><br><br><br>
								<div class="d-flex justify-content-around align-items-center">
									<div class="w-50">
										<h5>Gender</h5>
										<input type="radio" id="male" name="gender" value="male">
										<label for="male" class="mr-3">Male</label>
										<input type="radio" id="female" name="gender" value="female">
										<label for="female"  class="mr-3">Female</label>
									</div>
									<div class="w-50">
										<h5>Location</h5>
										<select name="country" id="country" class="my-1 rounded w-75 px-2">
							                <option value="XXX">Select One</option>
							            </select>
									</div>
								</div><br>
								<button type="button" id="updateBtn" class="submit btn btn-info mt-3">Update</button><br><br>
							</form>						
						</div>
						<!-- Create Lobby Panel -->
						<div id="createPanel" class="panel rounded mx-3">
							<form method="get" action="/lobby" id="createlobbyForm">
								<h4 class="py-3"><strong>Create A lobby</strong></h4>
								<input type="text" name="lobbyName" id="lobbyName" placeholder="Lobby Name" class="rounded my-2 text-center"><br>
								<input type="password" name="lobbyPassword" id="lobbyPassword" placeholder="Lobby Password" class="rounded my-2 text-center"><br><br>
								<strong>Capacity: </strong>
								<select id="lobbyCapacity" name="capacity" class="m-2 rounded px-2">
									<option value="2">2 Players</option>
									<option value="3">3 Players</option>
									<option value="4">4 Players</option>
									<option value="5">5 Players</option>
									<option value="6">6 Players</option>
									<option value="7">7 Players</option>
									<option value="8">8 Players</option>
								</select><br><br>
								<button type="button" class="close-button btn btn-info m-3">Back</i></i></button>
								<button type="button" id="createButton" class="submit btn btn-info m-3">Create</button><br>
								<span id="createLobbyDialogValidation"></span>
							</form>
						</div>
						<!-- Join Lobby Panel -->
						<div id="joinPanel" class="mx-3 panel rounded">
							<form method="get" action="/lobby" id="joinlobbyForm">
								<h4 class="py-3"><strong>Join a Lobby</strong></h4>
								<ul id="lobbyList" class="scroll"></ul><br>
								<input type="text" name ="inputLobbyName" id="inputLobbyName" class="rounded my-2 text-center" placeholder="Lobby Name">
								<input type="password" name="inputLobbyPassword" id="inputLobbyPassword" class="rounded my-2 text-center" placeholder="Lobby Password"><br>
								<button id="joinLobby" type="button" class="btn btn-info mt-2">Join</button><br>
								<span id="joinLobbyDialogValidation"></span><br>
							</form>
						</div>
					</div>
				</div>
			</main>
		<div id="dialog-overlay" title="Click here to close the dialog"></div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>