<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tag</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" 
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
		 integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
		 crossorigin="anonymous">
	 	<link rel="stylesheet" href="../css/styles.css" type="text/css">
	 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		 <script src="/socket.io/socket.io.js"></script> 
		 <script>
			var userName = "<%= name %>";
			// console.log("Username: %s", userName);
		</script>
		 <script src="../js/lounge.js" type="text/javascript"></script>
	</head>
	<body>
		<!-- Create Lobby Dialog Starts -->
		<div id="create-lobby-dialog" class="dialog-popup">
			<a href="#" class="close">Close</a>
			<h4>Create A lobby</h4>
			<form method="get" action="/lobby" id="lobbyForm">
				<input type="text" name="lobbyName" id="lobbyName" placeholder="lobby name"><br>
				<input type="password" name="lobbyPassword" id="lobbyPassword" placeholder="lobby password"><br>
				Capacity
				<select id="lobbyCapacity" name="capacity">
					<option value="2">2 Players</option>
					<option value="3">3 Players</option>
					<option value="4">4 Players</option>
					<option value="5">5 Players</option>
					<option value="6">6 Players</option>
					<option value="7">7 Players</option>
					<option value="8">8 Players</option>
				</select><br>
				<button class="submit" type="button" id="createButton">Create</button><br>
				<span id="lobbyDialogValidation"></span>
			</form>
		</div>
		<!-- Create Lobby Dialog Ends-->
		<!-- Join Lobby Dialog Starts -->
		<div id="join-lobby-dialog" class="dialog-popup">
			<a href="#" class="close">Close</a>
			<h4>Join A lobby</h4>
			<div><ul id="lobbyList" class="list"></ul></div>
		</div>
		<!-- Join Lobby Dialog Ends-->
				<main>
			<a id="brand" href="/"><img src="https://fontmeme.com/permalink/201119/174e93a13c86923a9400b72bdd4dbcb8.png" alt="Tag" border="0"></a><br><br>
			<div id="lounge" class="d-flex flex-row border-thick border-g text-white p-2 justify-content-between">
				<div id="lounge-sidebar" class="w-auto d-flex flex-column justify-content-around">
					<a href="#" class="btn btn-info dialog-link"><%= name %></a>
					<a href="#" data-selector="#create-lobby-dialog" class="btn btn-info dialog-link">Create</a>
					<a href="#" data-selector="#join-lobby-dialog" class="btn btn-info dialog-link">Join</a>
					<a href="#" class="btn btn-info dialog-link">Chat</a>
					<a href="#" class="btn btn-info dialog-link">Quit</a>
				</div>
				<div id="chat-container" class="d-flex flex-column justify-content-between">
					<h5 class="py-1 text-center bg-dark rounded">Lounge</h5>
					<div id="messages" class="flex-fill bg-dark rounded"></div>
					<form class="d-flex flex-row mt-2">
						<input type="text" class="form-control bg-dark text-white m-0" id="message" placeholder="Send a message...">
						<button type="submit" class="btn btn-info ml-2">Send</button>
					</form>
				</div> 
				<div id="users-container" class="d-flex flex-column">
					<h5 class="py-1 text-center bg-dark rounded">Users (0)</h5>
					<ul id="users-list" class="bg-dark text-center rounded flex-fill m-0 p-1"></ul>
				</div>
			</div>
		</main>
		<div id="dialog-overlay" title="Click here to close the dialog"></div>
  </body>
  <footer>

  </footer>
</html>